@import '../../_default'

#user
    min-height: 90.5vh
    padding-top: 50px

#mapid
    height: 300px
    width: 100%
    position: relative
    bottom: 0
    

.basicInfo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 200px
    // background: $primary-color
    color: $primary-text-color
    h3
        font-size: 1.0rem
    img
        border-radius: 50%