@import url(//db.onlinewebfonts.com/c/ddee9598ebecf0767f99f6a995cab291?family=P22+Frau+Jenson+People);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Montserrat&display=swap');

$primary-color-dark:   #512DA8
$primary-color:        #673AB7
$primary-color-light:  #D1C4E9
$primary-color-text:   #FFFFFF
$accent-color:         #E040FB
$primary-text-color:   #212121
$secondary-text-color: #757575
$divider-color:        #BDBDBD

$font1: 'Montserrat', sans-serif
$font2: 'Georama', sans-serif